canvas {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 10px solid rgb(145, 103, 103);
  margin: 10px;
}

.my-class{
  padding: 3%;
  margin : 10px;

}