.text_align{
  text-align: center;
  align-items: center;
}


.main_class{
  margin: 10px;
}

#sketch canvas{
  margin: 5px;
  border: 2px solid grey;

}

#output{
  margin: 5px;
  border: 2px solid grey;

}