.text_align{
  text-align: center;
  align-items: center;
}


.main_class{
  margin: 10px;
}

#sketch canvas{
  margin: 5px;
  border: 2px solid grey;

}

.output{
  width: 256;
  height: 256;
  margin: 5px;
  border: 2px solid grey;

}

